*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    background-color: #49a078;
    height: 30vh;
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    
    
}

nav{
    background-color: #216869; 
    display: flex;
    flex-flow: row;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    

    position: -webkit-sticky;
	position: sticky;
	top: 0;
    


}

nav a{
    color: black;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    text-decoration: none;
    font-size: 2rem;
  }

nav a:hover{
    color: #dce1de;
    
}

header img{
    border-radius: 50%;
    max-width:50%;
    max-height:50%;
    
}

.main-header{
    /* align-self: center; */
    padding-left: 5%;
    flex: 1 0 0;
    
  
}

.main-header h1{
    /* font-size: 9.6rem; */
    font-size: 8rem;
}

.main-header h2{
    /* font-size: 4.8rem; */
    font-size: 5rem;
    
}

.image-header{
    margin: 0 auto;
    flex: 1 0 0;
  
   
}

#about-me{
    height: 65vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    
}

#about-me h3{
    font-size: 5rem;
}

#about-me p{
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
    
}

#collage{
    margin: 0 auto;
    padding-top: 5%;
    width: 90%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    height: 50rem;
}

figcaption{
    display: none;
}


#collage img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#collage img:hover{
    box-shadow: .3rem .3rem .3rem black
}

#collage div{
    background-color: #216869;
    text-align: center;
    font-size: 1.5rem;
    padding: 7rem 0;
    
}
#collage h3{
    text-decoration: underline;
}

li{
    list-style-position: inside;
    
}



#projects{
    /* border: 2px solid pink; */
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
}

#projects h3{
    text-align: center;
    font-size: 5rem;
}

.projects-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
    
}

.projects-table img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-table div{
    outline: .2rem solid black;
    font-size: 0.5rem;
    padding: 0.5rem;
}

#contact{
    width:70%;
    margin: 0 auto;
    margin-top: 10rem;
}

#contact h3{
    font-size: 5rem;
    text-align: center;
}

#contact p{
    font-size: 3rem;
    text-align: center;
}

fieldset{
    background-color: #49a078;
    border: none;
    padding:2rem;
    border-radius: 2rem;
}

legend{
    font-size: 2.5rem;
    padding: 2rem;
    

}

#contact input[type="text"]{
    border-radius: .5rem;
    width: 50%;
    font-size: 2.5rem;
    padding: 0.2rem;
    margin: .5rem;
}
#contact input[type="email"]{
    border-radius: .5rem;
    width: 50%;
    font-size: 2.5rem;
    padding: 0.2rem;
    margin: .5rem;
}

#contact input[type="radio"]{
    border-radius: .5rem;
    
    font-size: 2.5rem;
    padding: 0.2rem;
    margin: .5rem;
}

#contact label{
    font-size: 2.5rem;
}

textarea{
    border-radius: .5rem;
    width: 80%;
    font-size: 2.5rem;
    padding: 0.2rem;
    margin: .5rem;
}

input[type="submit"]{
    border-radius: .5rem;
    width: 50%;
    font-size: 2.5rem;
    padding: 0.2rem;
    margin: .5rem;
    background-color: #dce1de;
}

footer{
    background-color: #1f2421;
    color:#9cc5a1;
    height: 2vh;
}



@media screen and (min-width: 768px) {
    header{
        height: 40vh;
    }
    #about-me{
        height: 55vh;
    }
    .projects-table div{
        font-size: 1rem;
    }

}

@media screen and (min-width: 1024px) {
    header{
        height: 45vh;
    }
    #about-me{
        height: 50vh;
    }
    .projects-table div{
        font-size: 2rem;
    }
}


@media screen and (min-width: 1200px) {
    header{
        height: 50vh;
    }
    #about-me{
        height: 43vh;
    }
    nav{
        height: 7vh
    }
    #collage{
        height: 60rem;
    }
    #collage div{
        font-size: 3rem;
    }
    footer{
        height: 4vh;
        font-size: 2rem;
    }
}
    
